.idea
.cache
.settings
.project
.classpath
.DS_Store
.externalToolBuilders
target
*/*.iml
*/target/**
*.iml
*/.classpath
*/.settings
*/.externalToolBuilders
*/*.springBeans
*/*.log
*/*.logs
*/*.gitignore
logs
rebel.xml
dependency-reduced-pom.xml