<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.onlyhi.client.dao.CoursewareDirMapper">
    <resultMap id="CoursewareDirResultMap" type="cn.onlyhi.client.po.CoursewareDir">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="courseware_dir_uuid" jdbcType="VARCHAR" property="coursewareDirUuid" />
        <result column="teacher_uuid" jdbcType="VARCHAR" property="teacherUuid" />
        <result column="courseware_dir_name" jdbcType="VARCHAR" property="coursewareDirName" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_uid" jdbcType="VARCHAR" property="createUid" />
        <result column="update_uid" jdbcType="VARCHAR" property="updateUid" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>
    <sql id="CoursewareDir_Column_List">
        id, courseware_dir_uuid, teacher_uuid, courseware_dir_name, status, create_time, 
        update_time, create_uid, update_uid, remark, sort
    </sql>
    <select id="findByCoursewareDirName" resultMap="CoursewareDirResultMap">
        select
        <include refid="CoursewareDir_Column_List" />
        from courseware_dir
        where status=1 and teacher_uuid=#{teacherUuid} and courseware_dir_name=#{coursewareDirName} limit 1
    </select>
    <select id="findMatchCoursewareDirNameByTeacherUuid" resultType="java.lang.String">
        select courseware_dir_name from courseware_dir where status=1 and courseware_dir_name REGEXP '${coursewareDirName}\\(+[0-9]*\\)+'
        <if test="teacherUuid !='' and teacherUuid != null">
            and teacher_uuid=#{teacherUuid}
        </if>
    </select>
    <select id="findByTeacherUuid" parameterType="java.lang.String" resultMap="CoursewareDirResultMap">
        select
        <include refid="CoursewareDir_Column_List" />
        from courseware_dir
        where status=1 and teacher_uuid=#{teacherUuid}
        ORDER BY create_time DESC
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="CoursewareDirResultMap">
        select 
        <include refid="CoursewareDir_Column_List" />
        from courseware_dir
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from courseware_dir
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="cn.onlyhi.client.po.CoursewareDir">
        insert into courseware_dir
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="coursewareDirUuid != null">
                courseware_dir_uuid,
            </if>
            <if test="teacherUuid != null">
                teacher_uuid,
            </if>
            <if test="coursewareDirName != null">
                courseware_dir_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createUid != null">
                create_uid,
            </if>
            <if test="updateUid != null">
                update_uid,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="coursewareDirUuid != null">
                #{coursewareDirUuid,jdbcType=VARCHAR},
            </if>
            <if test="teacherUuid != null">
                #{teacherUuid,jdbcType=VARCHAR},
            </if>
            <if test="coursewareDirName != null">
                #{coursewareDirName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUid != null">
                #{createUid,jdbcType=VARCHAR},
            </if>
            <if test="updateUid != null">
                #{updateUid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.onlyhi.client.po.CoursewareDir">
        update courseware_dir
        <set>
            <if test="coursewareDirUuid != null">
                courseware_dir_uuid = #{coursewareDirUuid,jdbcType=VARCHAR},
            </if>
            <if test="teacherUuid != null">
                teacher_uuid = #{teacherUuid,jdbcType=VARCHAR},
            </if>
            <if test="coursewareDirName != null">
                courseware_dir_name = #{coursewareDirName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid,jdbcType=VARCHAR},
            </if>
            <if test="updateUid != null">
                update_uid = #{updateUid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByUuid" parameterType="java.lang.String" resultMap="CoursewareDirResultMap">
        select 
        <include refid="CoursewareDir_Column_List" />
        from courseware_dir
        where courseware_dir_uuid = #{uuid,jdbcType=VARCHAR}
    </select>
    <update id="updateByUuidSelective" parameterType="cn.onlyhi.client.po.CoursewareDir">
        update courseware_dir
        <set>
            <if test="coursewareDirUuid != null">
                courseware_dir_uuid = #{coursewareDirUuid,jdbcType=VARCHAR},
            </if>
            <if test="teacherUuid != null">
                teacher_uuid = #{teacherUuid,jdbcType=VARCHAR},
            </if>
            <if test="coursewareDirName != null">
                courseware_dir_name = #{coursewareDirName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid,jdbcType=VARCHAR},
            </if>
            <if test="updateUid != null">
                update_uid = #{updateUid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where courseware_dir_uuid = #{coursewareDirUuid,jdbcType=VARCHAR}
    </update>
</mapper>